body{
    background-color: azure;
    color : '#e000ff';
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center; 
}
#key{
    background-color:  cyan;
}
#res{
    background-color: pink;
}